*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family:"futura-pt", Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* margin: 0; */
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    height: 100%;
    transition: background 1s ease;
   /* background: #3498db; */
} 
div {
}

.flexbox-container {
    display: flex;
    top: 0;
}

.grid-container {
    display: grid;
    padding: 0em 2em;
    /* position: relative; */
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10vh 50vh 40vh;
}

.grid-1{
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    font-size: 2em;
    text-transform: uppercase;
    /* font-family:  sans-serif; */
    z-index: 3;
}
.grid-1 img{
    width: 10em;
    height: 1.2em;
    margin-top: 1em;
}
.grid-2{
    grid-column: 3;
    grid-row: 1;
    font-size: 1.5em;
    justify-self: end;
    margin-top: 0.5em;
    z-index: 3;
}
.grid-3{
    grid-column: 1;
    grid-row:3;
    justify-self: start;
    align-self: end;
    font-size: 1.3em;
    z-index: 3;
}
.grid-4{
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    align-self: end;
    font-size: 1.5em;
    z-index: 3;
}

.issue-container{
    position: absolute;
    /* background: ; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: auto;
    scroll-snap-type: y mandatory;

}
.issue{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.issue-container, 
.issue{
    height: 100vh;
    width: 100vw;
    /* background: #993939; */
}
.issue img{
    height: 75vh;
    width: 30vw;
    margin-bottom: -5vh;
}

.issue h5{
    font-size: 1.4em;
}
.issue p{
    font-size: 1.1em;
    font-weight: 900;
    
}

.issue-7{
    background: #ff608c;
    /* -webkit-transition: background 0.5s;
    transition: background 0.5s; */
    /* background: linear-gradient(to bottom, #ff608c #ffffff); */
}
.issue-6{
    background: #ffffff;
}
.issue-5{
    background: #4cdbcc;
}
.issue-4{
    background: #ff672b;
}
.issue-3{
    background: #ffbf3f;
}
.issue-2{
    background: #1533b8;
}
.issue-1{
    background: #e70303;
}